# Python
*.pyc
__pycache__/
*~
*.log
*.pot

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Databases
db.sqlite3
*.sqlite3

# Media and Static files (generated at deployment)
media/
static/

# IDE-specific files (e.g., PyCharm)
.idea/
.vscode/

# Operating System files
.DS_Store