Django>=4.2 #,<5.0
djangorestframework>=3.14
django-filter>=23.5
django-cors-headers>=4.3.1
django-environ>=0.11.2

psycopg2-binary>=2.9.9   # if you're using PostgreSQL
python-dotenv>=1.0.1     # optional (if you prefer dotenv)

requests>=2.31.0         # often used in LLM/email services
#openai>=1.10.0           # if your LLMService uses OpenAI
ollama
jinja
gunicorn>=21.2.0         # for deployment

boto3==1.34.0
